<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExtensionList" value=".cs;.cshtml;.txt;.js;.xml;.css;.less;.scss;.md"/>
		<add key="ExcludeFolderList" value=".git;bin;.vs;tools;obj"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>